.link {
  text-decoration: none;
  cursor: pointer;
  color: #58a6ff;
  font-size: 1.3rem;
}

.link:hover, .linkSm:hover {
  text-decoration: underline;
  color: #58a6ff;
}

.linkSm {
  text-decoration: none;
  cursor: pointer;
  color: #58a6ff;
  font-size: 1rem;
}
