.container {
  background-color: #0d1117;
  padding: 1rem;
  color: #8b949e;
}

.description {
  font-size: 0.9rem;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.statsGroup {
  display: flex;
  font-size: 0.8rem;
}

.statsCount {
  padding-right: 1rem;
}

